.details {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.details img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  
}

.product-details button {
  width: 150px;
  padding: 8px;
  background: #6b4848;
  color: white;
  border: none;
  cursor: pointer;
}
